version: "3"
services:
  control:
    image: nodered/node-red-docker
    ports:
      - "1880:1880"
    networks:
      backend:
        ipv4_address: 172.10.0.200
    extra_hosts:
      - "db:172.10.0.201"
  db:
    image: mongo
    volumes:
      - mongo-data:/data
    ports:
      - "27017:27017"
    command: "--smallfiles --logpath=/dev/null"
    networks:
      backend:
        ipv4_address: 172.10.0.201
    extra_hosts:
      - "control:172.10.0.200"
  api:
    image: loopback-api
    ports:
      - "3001:3000"
    networks:
      backend:
        ipv4_address: 172.10.0.202
    extra_hosts:
      - "db:172.10.0.201"
    depends_on:
     - db
  camera:
    image: camera-app
    volumes:
          - .:/data
    ports:
    - "5000"
    networks:
      backend:
    extra_hosts:
      - "control:172.10.0.200"
    depends_on:
     - control
volumes:
  mongo-data:
networks:
  backend:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.10.0.0/24
